<div class="container">
    <div class="row">
        <div class="col-12 form-for-add">
            <form #addUsersForm class="form">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="i_new_name">Name</label>
                        <input #new_name type="text" class="form-control" id="i_new_name"/>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-success" (click)="addNewUser($event, new_name.value); addUsersForm.reset()">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
        <table class="table">
                <thead>
                    <th>id</th>
                    <th>name</th>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <td>{{user.id}}</td>
                        <td>
                            <span *ngIf="!user.editing">{{user.name}}</span>
                            <input type="text" name="e_user_name_{{index}}" #edit_name type="text" *ngIf="user.editing" value="{{user.name}}"/>
                        </td>
                        <td>
                            <button *ngIf="!user.editing" (click)="editUser(user)" class="btn btn-primary">Edit</button>
                            <button *ngIf="user.editing"  (click)="sendEditUser( user.id, edit_name)" class="btn btn-success"><i class="fa">V</i></button>
                            <button *ngIf="user.editing"  (click)="stopEditUser(user)" class="btn btn-danger"><i class="fa">X</i></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>