<div class="container">
    <div class="row">
        <div class="col-12 form-for-add">
            <form #addBetForm class="form">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="i_new_bet_odd_id">Odd Id</label>
                        <input #new_bet_odd_id type="text" class="form-control" id="i_new_bet_odd_id"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_bet_datetime">Datetime</label>
                        <input #new_bet_datetime type="text" class="form-control" id="i_new_bet_datetime"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_bet_option_id">Option Id</label>
                        <input #new_bet_option_id type="text" class="form-control" id="i_new_bet_option_id"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_bet_import">Import</label>
                        <input #new_bet_import type="text" class="form-control" id="i_new_bet_import"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_bet_result">Result</label>
                        <input #new_bet_result type="text" class="form-control" id="i_new_bet_result"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_bet_result">Account Id</label>
                        <input #new_bet_account_id type="text" class="form-control" id="i_new_bet_account_id"/>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-success" (click)="addNewBet( $event, new_bet_odd_id.value, new_bet_datetime.value, new_bet_option_id.value, new_bet_import.value, new_bet_result.value, new_bet_account_id.value); addBetForm.reset()">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
        <table class="table">
                <thead>
                    <th>id</th>
                    <th>odd_id</th>
                    <th>datetime</th>
                    <th>option_id</th>
                    <th>import</th>
                    <th>result</th>
                    <th>account_id</th>
                </thead>
                <tbody>
                    <tr *ngFor="let b of bets; let i = index">
                        <td>
                            {{b.id}}
                        </td>
                        <td>
                            <span *ngIf="!b.editing">{{b.odd_id}}</span>
                            <input type="text" name="e_b_odd_id_{{index}}" #edit_bet_odd_id type="text" *ngIf="b.editing" value="{{b.odd_id}}"/>
                        </td>
                        <td>
                            <span *ngIf="!b.editing">{{b.datetime}}</span>
                            <input type="text" name="e_b_datetime_{{index}}" #edit_bet_datetime type="text" *ngIf="b.editing" value="{{b.datetime}}"/>
                        </td>
                        <td>
                            <span *ngIf="!b.editing">{{b.option_id}}</span>
                            <input type="text" name="e_b_option_id_{{index}}" #edit_bet_option_id type="text" *ngIf="b.editing" value="{{b.option_id}}"/>
                        </td>
                        <td>
                            <span *ngIf="!b.editing">{{b.import}}</span>
                            <input type="text" name="e_b_import_{{index}}" #edit_bet_import type="text" *ngIf="b.editing" value="{{b.import}}"/>
                        </td>
                        <td>
                            <span *ngIf="!b.editing">{{b.result}}</span>
                            <input type="text" name="e_b_result_{{index}}" #edit_bet_result type="text" *ngIf="b.editing" value="{{b.result}}"/>
                        </td>
                        <td>
                            <span *ngIf="!b.editing">{{b.account_id}}</span>
                            <input type="text" name="e_b_account_id_{{index}}" #edit_bet_account_id type="text" *ngIf="b.editing" value="{{b.account_id}}"/>
                        </td>
                        <td>
                            <button *ngIf="!b.editing" (click)="editBet(b)" class="btn btn-primary">Edit</button>
                            <button *ngIf="b.editing"  (click)="sendEditBet( b.id, edit_bet_odd_id, edit_bet_datetime, edit_bet_option_id, edit_bet_import, edit_bet_result, edit_bet_account_id)" class="btn btn-success"><i class="fa">V</i></button>
                            <button *ngIf="b.editing"  (click)="stopEditBet(b)" class="btn btn-danger"><i class="fa">X</i></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>