<div class="container">
    <div class="row">
        <div class="col-12 form-for-add">
            <form #addCountriesForm class="form">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="i_new_name">Name</label>
                        <input #new_name type="text" class="form-control" id="i_new_name"/>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-success" (click)="addNewCountry($event, new_name.value); addCountriesForm.reset()">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
        <table class="table">
                <thead>
                    <th>id</th>
                    <th>name</th>
                </thead>
                <tbody>
                    <tr *ngFor="let country of countries; let i = index">
                        <td>{{country.id}}</td>
                        <td>
                            <span *ngIf="!country.editing">{{country.name}}</span>
                            <input type="text" name="e_country_name_{{index}}" #edit_name type="text" *ngIf="country.editing" value="{{country.name}}"/>
                        </td>
                        <td>
                            <button *ngIf="!country.editing" (click)="editCountry(country)" class="btn btn-primary">Edit</button>
                            <button *ngIf="country.editing"  (click)="sendEditCountry( country.id, edit_name)" class="btn btn-success"><i class="fa">V</i></button>
                            <button *ngIf="country.editing"  (click)="stopEditCountry(country)" class="btn btn-danger"><i class="fa">X</i></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>