<div class="container">
    <div class="row">
        <div class="col-12 form-for-add">
            <form #addMatchForm class="form">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="i_new_match_home_team_id">Home Team Id</label>
                        <input #new_match_home_team_id type="text" class="form-control" id="i_new_match_home_team_id"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_match_away_team_id">Away Team Id</label>
                        <input #new_match_away_team_id type="text" class="form-control" id="i_new_match_away_team_id"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_match_datetime">Datetime</label>
                        <input #new_match_datetime type="text" class="form-control" id="i_new_match_datetime"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_match_competition_id">Competition Id</label>
                        <input #new_match_competition_id type="text" class="form-control" id="i_new_match_competition_id"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_match_result">Result</label>
                        <input #new_match_result type="text" class="form-control" id="i_new_match_result"/>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-success" (click)="addNewMatch( $event, new_match_home_team_id.value, new_match_away_team_id.value, new_match_datetime.value, new_match_competition_id.value, new_match_result); addMatchForm.reset()">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
        <table class="table">
                <thead>
                    <th>id</th>
                    <th>home_team_id</th>
                    <th>away_team_id</th>
                    <th class="text-center">datetime</th>
                    <th class="text-center">competition_id</th>
                    <th class="text-center">result</th>
                </thead>
                <tbody>
                    <tr *ngFor="let m of matches">
                        <td>
                            {{m.id}}
                        </td>
                        <td>
                            <span>{{m.home_team_name}}</span><span *ngIf="!m.editing" class="match-ids"> ({{m.home_team_id}})</span>
                            <input name="e_m_home_team_id_{{m.id}}" #edit_match_home_team_id type="text" *ngIf="m.editing" value="{{m.home_team_id}}"/>
                        </td>
                        <td>
                            <span>{{m.away_team_name}}</span> <span *ngIf="!m.editing" class="match-ids"> ({{m.away_team_id}})</span>
                            <input name="e_m_away_team_id_{{m.id}}" #edit_match_away_team_id type="text" *ngIf="m.editing" value="{{m.away_team_id}}"/>
                        </td>
                        <td class="text-center">
                            <span *ngIf="!m.editing">{{m.datetime | date: 'dd/MM/yy HH:mm'}}</span>
                            <input name="e_m_datetime_{{m.id}}" #edit_match_datetime type="text" *ngIf="m.editing" value="{{m.datetime}}"/>
                        </td>
                        <td class="text-center">
                            <span class="text-capitalize">{{m.competition_name}}</span> <span class="match-ids" *ngIf="!m.editing"> ({{m.competition_id}})</span>
                            <input name="e_m_competition_id_{{m.id}}" #edit_match_competition_id type="text" *ngIf="m.editing" value="{{m.competition_id}}"/>
                        </td>
                        <td class="text-center">
                            <span *ngIf="!m.editing">{{m.result}}</span>
                            <input name="e_m_result_{{m.id}}" #edit_match_result type="text" *ngIf="m.editing" value="{{m.result}}"/>
                        </td>
                        <td>
                            <button *ngIf="!m.editing" (click)="editMatch(m)" class="btn btn-primary">Edit</button>
                            <button *ngIf="m.editing"  (click)="sendEditMatch( m.id, edit_match_home_team_id, edit_match_away_team_id, edit_match_datetime, edit_match_competition_id, edit_match_result)" class="btn btn-success"><i class="fa">V</i></button>
                            <button *ngIf="m.editing"  (click)="stopEditMatch(m)" class="btn btn-danger"><i class="fa">X</i></button>
                        </td>
                        <td>
                            <button *ngIf="!m.editing" (click)="deleteMatch(m)" class="btn btn-danger">x</button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>
<div *ngIf="match_deleting" class="delete-container-cover" (click)="stopDeleteMatch()"></div>
<div *ngIf="match_deleting" class="delete-container">
    <div class="info-delete">Deleting</div>
    <div class="data-delete-match">
        <div class="match-name">({{match_deleting.id}}) {{match_deleting.home_team_name}} - {{match_deleting.away_team_name}} </div>
        <div class="match-datetime">{{match_deleting.datetime | date: 'dd/MM/yy HH:mm'}}</div>
    </div>
    <div *ngIf="odds_deleting" class="odds-data-delete-match">
        <table class="table">
            <thead>
                <th>id</th>
                <th>bet type</th>
                <th>value</th>
                <th>sportsbook</th>
            </thead>
            <tr *ngFor="let o of odds_deleting">
                <td>{{o.id}}</td>
                <td>{{o.bet_type_name}}</td>
                <td>{{o.value}}</td>
                <td>{{o.sportsbook_name}}</td>
            </tr>
        </table>
    </div>    
    <div *ngIf="receptor_match" class="receptor-match">
        <div>{{receptor_match.home_team_name}} - {{receptor_match.away_team_name}}</div>
        <div>{{receptor_match.datetime}}</div>
    </div>
    <button (click)="sendDeleteMatch()" class="btn btn-success"><i class="fa">Delete <span *ngIf="odds_deleting">all</span></i></button>
    <div *ngIf="odds_deleting" class="btn btn-warning"><i class="fa" (click)="updateOdds(receptor_match_id.value)">Move odds to match ID: </i><input type="text" #receptor_match_id (keyup)="getMatch($event.target.value)"></div>
    <button (click)="stopDeleteMatch()" class="btn btn-primary"><i class="fa">Cancel</i></button>
</div>