th{
    border-top: 0px;
}
.form-for-add{
    background-color: rgb(240, 255, 239);
    border-radius: 4px;
}
.form-for-add form{
    margin: 5px;
}
.form-for-add .form-control{
    width: 98%;
}
.form-for-add .btn-success{
    margin-top: 32px;
}
/* delete */
.delete-container-cover{
    position: fixed;
    top: 0;
    left: 0;
    width:  100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}
.delete-container{
    position: fixed;
    top: 100px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(213, 3, 3, 0.85);
    padding: 20px;
}
.odds-data-delete-match table{
    background-color: white;
    border-radius: 4px;
}
.delete-container .info-delete{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}
.delete-container .match-name{
    font-size: 26px;
    font-weight: bold;
}
.delete-container .match-datetime{
    font-size: 20px;
    font-weight: bold;
}
.delete-container input{
    width: 75px;
    text-align: center;
}
.receptor-match{
    border-radius: 4px;
    margin: 8px;
    background-color: #ffbf00;
}