<!--The content below is only a placeholder and can be replaced.-->
<div class="container-full">
    <div class="row">
        <app-sidebar class="col-2"></app-sidebar>
    
        <main class="col-10">
            <router-outlet></router-outlet>
        </main>    
    </div>
</div>
