<nav class="bg-faded sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <h3>Backoffice</h3>
    </div>

    <!-- Sidebar Links -->
    <ul class="nav nav-pills flex-column">
        <li class="nav-item"><a class="nav-link" routerLink="dashboard" routerLinkActive="">Dashboard</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="sportsbooks" routerLinkActive="active">Sportsbooks</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="teams" routerLinkActive="active">Teams</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="matches" routerLinkActive="active">Matches</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="odds" routerLinkActive="active">Odds</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="bets" routerLinkActive="active">Bets</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="accounts" routerLinkActive="active">Accounts</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="aliasTeams" routerLinkActive="active">Alias Teams</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="betTypes" routerLinkActive="active">Bet Types</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="competitions" routerLinkActive="active">Competitions</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="countries" routerLinkActive="active">Countries</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="sports" routerLinkActive="active">Sports</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="users" routerLinkActive="active">Users</a></li>
    </ul>
</nav>