th{
    border-top: 0px;
}
.form-for-add{
    background-color: rgb(240, 255, 239);
    border-radius: 4px;
}
.form-for-add form{
    margin: 5px;
}
.form-for-add .form-control{
    width: 98%;
}
.form-for-add .btn-success{
    margin-top: 32px;
}
/* multiple alias teams */
.add-multiple-alias-teams{
    margin: 15px;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid rgb(6, 83, 6);
    border-radius: 4px;
    padding: 5px;
}
.title-form {    
    margin: 15px 0;
    font-size: 20px;
    border-bottom: 1px solid black;
    padding-left: 30px;
}
.multiple-team-input{
    margin: 5px 0;
}