<div class="container">
    <div class="row">
        <div class="col-12 form-for-add">
            <div class="row add-multiple-alias-teams">
                <div class="col-3">
                    <label for="iSport">Sport</label>
                    <select #sport_selected class="form-control" (change)="selectSport($event.target.value)">
                        <option value="0">-All-</option>
                        <option *ngFor="let sport of sports" value="{{sport.id}}">{{sport.name}}</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="iCountry">Country</label>
                    <select #country_selected class="form-control" (change)="selectCountry($event.target.value)">
                        <option value="0">-All-</option>
                        <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
                    </select>
                </div>
                <div class="col-12 row" *ngIf="teams && teams.length>0">
                    <div class="col-4 title-form">Team Id</div>
                    <div class="col-4 title-form">Name</div>
                    <div class="col-4 title-form">Web</div>
                </div>
                <div class="col-12 row multiple-team-input" *ngFor="let team of teams; let i = index">
                    <div class="col-4">
                        {{team.name}} ({{team.id}})
                        <input type="hidden" value="{{team.id}}" id=`i_new_team_id_{{i}}`/>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" name="alias-name-{{i}}" [(ngModel)]="team.alias_name"/>
                    </div>
                    <div class="col-4">
                        <input class="form-control" type="text" [(ngModel)]="multipleWeb"/>
                    </div>
                </div>
                <div class="col-12 row text-center" *ngIf="teams && teams.length>0">
                    <button class="btn btn-success" (click)="saveMultiple()">Save</button>
                </div>
            </div>
            <div class="row">
                <form #addAliasTeamForm class="form row col-12">
                    <div class="col-3">
                        <label for="i_new_team_id">Team Id</label>
                        <input #new_team_id type="text" class="form-control" id="i_new_team_id"/>
                    </div>
                    <div class="col-3">
                        <label for="i_new_name">Name</label>
                        <input #new_name type="text" class="form-control" id="i_new_name"/>
                    </div>
                    <div class="col-3">
                        <label for="i_new_web">Web</label>
                        <input #new_web type="text" class="form-control" id="i_new_web"/>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-success" (click)="addNewAliasTeam($event, new_team_id.value, new_name.value, new_web.value); addAliasTeamForm.reset()">Add</button>
                    </div>
                </form>
            </div>
        </div>
        <hr/>
        <table class="table">
                <thead>
                    <th>id</th>
                    <th>team_id</th>
                    <th>name</th>
                    <th>web</th>
                </thead>
                <tbody>
                    <tr *ngFor="let aliasTeam of aliasTeams">
                        <td>{{aliasTeam.id}}</td>
                        <td>
                            <span *ngIf="!aliasTeam.editing">{{aliasTeam.team_id}}</span>
                            <input type="text" name="e_a_team_id_{{index}}" #edit_team_id type="text" *ngIf="aliasTeam.editing" value="{{aliasTeam.team_id}}"/>
                        </td>
                        <td>
                            <span *ngIf="!aliasTeam.editing">{{aliasTeam.name}}</span>
                            <input type="text" name="e_a_name_{{index}}" #edit_name type="text" *ngIf="aliasTeam.editing" value="{{aliasTeam.name}}"/>
                        </td>
                        <td>
                            <span *ngIf="!aliasTeam.editing">{{aliasTeam.web}}</span>
                            <input type="text" name="e_at_web_{{index}}" #edit_web type="text" *ngIf="aliasTeam.editing" value="{{aliasTeam.web}}"/>
                        </td>
                        <td>
                            <button *ngIf="!aliasTeam.editing" (click)="editAliasTeam(aliasTeam)" class="btn btn-primary">Edit</button>
                            <button *ngIf="aliasTeam.editing"  (click)="sendEditAliasTeam( aliasTeam.id, edit_team_id, edit_name, edit_web)" class="btn btn-success"><i class="fa">V</i></button>
                            <button *ngIf="aliasTeam.editing"  (click)="stopEditAliasTeam(aliasTeam)" class="btn btn-danger"><i class="fa">X</i></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>