<div class="container">
    <div class="row">
        <div class="col-12 form-for-add">
            <form #addAccountForm class="form">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="i_new_user_id">User Id</label>
                        <input #new_user_id type="text" class="form-control" id="i_new_user_id"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_sportsbook_id">Sportsbook Id</label>
                        <input #new_sportsbook_id type="text" class="form-control" id="i_new_sportsbook_id"/>
                    </div>
                    <div class="col-xs-3">
                        <button style="margin-top:23px" class="btn btn-success" (click)="addAccount($event, new_user_id.value, new_sportsbook_id.value); addAccountForm.reset()">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
        <table class="table">
                <thead>
                    <th>id</th>
                    <th>user_id</th>
                    <th>sportsbook_id</th>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accounts">
                        <td>{{account.id}}</td>
                        <td>
                            <span *ngIf="!account.editing">{{account.user_id}}</span>
                            <input type="text" name="e_a_user_id_{{index}}" #edit_user_id type="text" *ngIf="account.editing" value="{{account.user_id}}"/>
                        </td>
                        <td>
                            <span *ngIf="!account.editing">{{account.sportsbook_id}}</span>
                            <input type="text" name="e_a_sportsbook_id_{{index}}" #edit_sportsbook_id type="text" *ngIf="account.editing" value="{{account.sportsbook_id}}"/>
                        </td>
                        <td>
                            <button *ngIf="!account.editing" (click)="editAccount(account)" class="btn btn-primary">Edit</button>
                            <button *ngIf="account.editing"  (click)="sendEditAccount( account.id, edit_user_id, edit_sportsbook_id)" class="btn btn-success"><i class="fa">V</i></button>
                            <button *ngIf="account.editing"  (click)="stopEditAccount(account)" class="btn btn-danger"><i class="fa">X</i></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>