<div class="container">
    <div class="row">
        <div class="col-12 form-for-add">
            <form #addSportsForm class="form">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="i_new_name">Name</label>
                        <input #new_name type="text" class="form-control" id="i_new_name"/>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-success" (click)="addNewSport($event, new_name.value); addSportsForm.reset()">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
        <table class="table">
                <thead>
                    <th>id</th>
                    <th>name</th>
                </thead>
                <tbody>
                    <tr *ngFor="let sport of sports; let i = index">
                        <td>{{sport.id}}</td>
                        <td>
                            <span *ngIf="!sport.editing">{{sport.name}}</span>
                            <input type="text" name="e_sport_name_{{index}}" #edit_name type="text" *ngIf="sport.editing" value="{{sport.name}}"/>
                        </td>
                        <td>
                            <button *ngIf="!sport.editing" (click)="editSport(sport)" class="btn btn-primary">Edit</button>
                            <button *ngIf="sport.editing"  (click)="sendEditSport( sport.id, edit_name)" class="btn btn-success"><i class="fa">V</i></button>
                            <button *ngIf="sport.editing"  (click)="stopEditSport(sport)" class="btn btn-danger"><i class="fa">X</i></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>