<div class="container">
    <div class="row">
        <div class="col-12 form-for-add">
            <form #addSportsbookForm class="form">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="i_new_team_name">Name</label>
                        <input #new_sportsbook_name type="text" class="form-control" id="i_new_team_name" />
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-success" (click)="addNewSportsbook( $event, new_sportsbook_name.value); addSportsbookForm.reset()">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <table class="table">
                <thead>
                    <th>id</th>
                    <th>name</th>
                </thead>
                <tbody>
                    <tr *ngFor="let sb of sportsbooks">
                        <td>{{sb.id}}</td>
                        <td>
                            <span *ngIf="!sb.editing">{{sb.name}}</span>
                            <input name="e_sb_name_{{sb.id}}" #edit_sportsbook_name type="text" *ngIf="sb.editing" value="{{sb.name}}"/>
                        </td>
                        <td>
                            <button *ngIf="!sb.editing" (click)="editSportsbook(sb)" class="btn btn-primary">Edit</button>
                            <button *ngIf="sb.editing"  (click)="sendEditSportsbook( sb.id, edit_sportsbook_name)" class="btn btn-success"><i class="fa">V</i></button>
                            <button *ngIf="sb.editing"  (click)="stopEditSportsbook(sb)" class="btn btn-danger"><i class="fa">X</i></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>