<div class="container-full">
    <div class="row">
        <div class="col-12 form-for-add">
            <form #addOddForm class="form">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="i_new_odd_match_id">Match Id</label>
                        <input #new_odd_match_id type="text" class="form-control" id="i_new_odd_match_id"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_odd_bet_type_id">Bet Type Id</label>
                        <input #new_odd_bet_type_id type="text" class="form-control" id="i_new_odd_bet_type_id"/>
                    </div>
                    <div class="col-xs-3">
                            <label for="i_new_odd_value">Value</label>
                        <input #new_odd_value type="text" class="form-control" id="i_new_odd_value"/>
                    </div>
                    <div class="col-xs-3">
                            <label for="i_new_odd_datetime">Datetime</label>
                        <input #new_odd_datetime type="text" class="form-control" id="i_new_odd_datetime"/>
                    </div>
                    <div class="col-xs-3">
                            <label for="i_new_odd_datetime">Datetime Last</label>
                        <input #new_odd_datetime_last type="text" class="form-control" id="i_new_odd_datetime_last"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_odd_sportsbook_id">Sportsbook Id</label>
                        <input #new_odd_sportsbook_id type="text" class="form-control" id="i_new_odd_sportsbook_id"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_odd_result">Result</label>
                        <input #new_odd_result type="text" class="form-control" id="i_new_odd_result"/>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-success" (click)="addNewOdd(
                                $event,
                                new_odd_match_id.value,
                                new_odd_bet_type_id.value,
                                new_odd_value.value,
                                new_odd_datetime.value,
                                new_odd_datetime_last.value,
                                new_odd_sportsbook_id.value,
                                new_odd_result.value
                            ); addOddForm.reset()">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
        <table class="table">
                <thead>
                    <th>id</th>
                    <th>match_id</th>
                    <th>bet_type_id</th>
                    <th>value</th>
                    <th>datetime</th>
                    <th>datetime_last</th>
                    <th>sportsbook_id</th>
                    <th>result</th>
                </thead>
                <tbody>
                    <tr *ngFor="let o of odds">
                        <td>{{o.id}}</td>
                        <td>
                            <span *ngIf="!o.editing">{{o.home_team_name}}-{{o.away_team_name}}</span><span> ({{o.match_id}})</span>
                            <input type="text" name="e_o_match_id_{{o.id}}" #edit_odd_match_id *ngIf="o.editing" value="{{o.match_id}}"/>
                        </td>
                        <td>
                            <span *ngIf="!o.editing">{{o.bet_type_name}}</span><span> ({{o.bet_type_id}})</span>
                            <input type="text" name="e_o_bet_type_id_{{o.id}}" #edit_odd_bet_type_id *ngIf="o.editing" value="{{o.bet_type_id}}"/>
                        </td>
                        <td>
                            <span *ngIf="!o.editing">{{o.value}}</span>
                            <input type="text" name="e_o_value_{{o.id}}" #edit_odd_value *ngIf="o.editing" value="{{o.value}}"/>
                        </td>
                        <td>
                            <span *ngIf="!o.editing">{{o.datetime}}</span>
                            <input type="text" name="e_o_datetime_{{o.id}}" #edit_odd_datetime *ngIf="o.editing" value="{{o.datetime}}"/>
                        </td>
                        <td>
                            <span *ngIf="!o.editing">{{o.datetime_last}}</span>
                            <input type="text" name="e_o_datetime_last_{{o.id}}" #edit_odd_datetime_last *ngIf="o.editing" value="{{o.datetime_last}}"/>
                        </td>
                        <td>
                            <span *ngIf="!o.editing">{{o.sportsbook_name}}</span><span> ({{o.sportsbook_id}})</span>
                            <input type="text" name="e_o_sportsbook_id_{{o.id}}" #edit_odd_sportsbook_id *ngIf="o.editing" value="{{o.sportsbook_id}}"/>
                        </td>
                        <td>
                            <span *ngIf="!o.editing">{{o.result}}</span>
                            <input type="text" name="e_o_result_{{o.id}}" #edit_odd_result *ngIf="o.editing" value="{{o.result}}"/>
                        </td>
                        <td>
                            <button *ngIf="!o.editing" (click)="editOdd(o)" class="btn btn-primary">Edit</button>
                            <button *ngIf="o.editing"  (click)="sendEditOdd( 
                                    o.id,
                                    edit_odd_match_id,
                                    edit_odd_bet_type_id,
                                    edit_odd_value,
                                    edit_odd_datetime,
                                    edit_odd_datetime_last,
                                    edit_odd_sportsbook_id
                                )" class="btn btn-success"><i class="fa">V</i></button>
                            <button *ngIf="o.editing"  (click)="stopEditOdd(o)" class="btn btn-danger"><i class="fa">X</i></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>