<div class="container">
    <div class="row">
        <div class="col-12 form-for-add">
            <form #addBetTypesForm class="form">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="i_new_name">Name</label>
                        <input #new_name type="text" class="form-control" id="i_new_name"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_options">Options</label>
                        <input #new_options type="text" class="form-control" id="i_new_options"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_sport_id">Sport Id</label>
                        <input #new_sport_id type="text" class="form-control" id="i_new_sport_id"/>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-success" (click)="addNewBetType($event, new_name.value, new_options.value, new_sport_id.value); addBetTypesForm.reset()">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
        <table class="table">
                <thead>
                    <th>id</th>
                    <th>name</th>
                    <th>options</th>
                    <th>sport_id</th>
                </thead>
                <tbody>
                    <tr *ngFor="let betType of betTypes; let i = index">
                        <td>{{betType.id}}</td>
                        <td>
                            <span *ngIf="!betType.editing">{{betType.name}}</span>
                            <input type="text" name="e_bt_name_{{index}}" #edit_name type="text" *ngIf="betType.editing" value="{{betType.name}}"/>
                        </td>
                        <td>
                            <span *ngIf="!betType.editing">{{betType.options}}</span>
                            <input type="text" name="e_bt_options_{{index}}" #edit_options type="text" *ngIf="betType.editing" value="{{betType.options}}"/>
                        </td>
                        <td>
                            <span *ngIf="!betType.editing">{{betType.sport_id}}</span>
                            <input type="text" name="e_bt_sport_id_{{index}}" #edit_sport_id type="text" *ngIf="betType.editing" value="{{betType.sport_id}}"/>
                        </td>
                        <td>
                            <button *ngIf="!betType.editing" (click)="editBetType(betType)" class="btn btn-primary">Edit</button>
                            <button *ngIf="betType.editing"  (click)="sendEditBetType( betType.id, edit_name, edit_options, edit_sport_id)" class="btn btn-success"><i class="fa">V</i></button>
                            <button *ngIf="betType.editing"  (click)="stopEditBetType(betType)" class="btn btn-danger"><i class="fa">X</i></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>