<div class="container">
    <div class="row">
        <div class="col-12 form-for-add">
            <form #addTeamForm class="form">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="i_new_team_name">Name</label>
                        <input #new_team_name type="text" class="form-control" id="i_new_team_name"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_team_sport_id">Sport Id</label>
                        <input #new_team_sport_id type="text" class="form-control" id="i_new_team_sport_id"/>
                    </div>
                    <div class="col-xs-3">
                        <label for="i_new_team_country_id">Country Id</label>
                        <input #new_team_country_id type="text" class="form-control" id="i_new_team_country_id"/>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-success" (click)="addNewTeam($event, new_team_name.value, new_team_sport_id.value, new_team_country_id.value); addTeamForm.reset()">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
        <table class="table">
                <thead>
                    <th>id</th>
                    <th>name</th>
                    <th>sport_id</th>
                    <th>country_id</th>
                </thead>
                <tbody>
                    <tr *ngFor="let team of teams">
                        <td>{{team.id}}</td>
                        <td>
                            <span *ngIf="!team.editing">{{team.name}}</span>
                            <input type="text" #edit_team_name type="text" *ngIf="team.editing" value="{{team.name}}"/>
                        </td>
                        <td>
                            <span *ngIf="!team.editing">{{team.sport_id}}</span>
                            <input type="text" #edit_team_sport_id type="text" *ngIf="team.editing" value="{{team.sport_id}}"/>
                        </td>
                        <td>
                            <span *ngIf="!team.editing">{{team.country_id}}</span>
                            <input type="text" #edit_team_country_id type="text" *ngIf="team.editing" value="{{team.country_id}}"/>
                        </td>
                        <td>
                            <button *ngIf="!team.editing" (click)="editTeam(team)" class="btn btn-primary">Edit</button>
                            <button *ngIf="team.editing"  (click)="sendEditTeam( team.id, edit_team_name, edit_team_sport_id, edit_team_country_id)" class="btn btn-success"><i class="fa">V</i></button>
                            <button *ngIf="team.editing"  (click)="stopEditTeam(team)" class="btn btn-danger"><i class="fa">X</i></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>