th{
    border-top: 0px;
}
.form-for-add{
    background-color: rgb(240, 255, 239);
    border-radius: 4px;
}
.form-for-add form{
    margin: 5px;
}
.form-for-add .form-control{
    width: 98%;
}
.form-for-add .btn-success{
    margin-top: 32px;
}