<div class="container">
    <div class="row">
        <div class="col-12 form-for-add">
            <form #addCompetitionsForm class="form">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="i_new_name">Name</label>
                        <input #new_name type="text" class="form-control" id="i_new_name"/>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-success" (click)="addNewCompetition($event, new_name.value); addCompetitionsForm.reset()">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <hr/>
        <table class="table">
                <thead>
                    <th>id</th>
                    <th>name</th>
                </thead>
                <tbody>
                    <tr *ngFor="let comp of competitions; let i = index">
                        <td>{{comp.id}}</td>
                        <td>
                            <span *ngIf="!comp.editing">{{comp.name}}</span>
                            <input type="text" name="e_comp_name_{{index}}" #edit_name type="text" *ngIf="comp.editing" value="{{comp.name}}"/>
                        </td>
                        <td>
                            <button *ngIf="!comp.editing" (click)="editCompetition(comp)" class="btn btn-primary">Edit</button>
                            <button *ngIf="comp.editing"  (click)="sendEditCompetition( comp.id, edit_name)" class="btn btn-success"><i class="fa">V</i></button>
                            <button *ngIf="comp.editing"  (click)="stopEditCompetition(comp)" class="btn btn-danger"><i class="fa">X</i></button>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>